# ── Supabase (雲端) ──
# NEXT_PUBLIC_SUPABASE_URL=https://xxxxx.supabase.co
# NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_xxxxx

# ── Local PostgreSQL + PostgREST (本地端) ──
NEXT_PUBLIC_SUPABASE_URL=http://postgrest-internal-svc.wac-system.svc.cluster.local:3001
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiJ9.RFGTHZVWY7bcm2eW_z7Fi6EqtQ0Ttpt5lPibS_FuYfg
